.player {
    border-radius: 5px;
    margin-left: 5px;
    text-align: center;
    font-size:3vw;
}

.playerMe{
    background-color: #28A745;
}   

.playerEnemy{
    background-color: #DC3545;
}

.blinking {
    animation-name: blink;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

.givenUp {
    opacity:0.4;
}

@keyframes blink {
    from {
        box-shadow:inherit;
    }
    to {
        box-shadow: 0px 0px 0px 5px rgb(21, 147, 163) ;
    }
}