.choice {
   background-color: lightgreen;
   border-radius:10px
}

.disabled {
    background: repeating-linear-gradient(
       45deg,
       rgb(20,0,0),
       rgb(20,0,0) 10px,
       rgb(30,30,30) 10px,
       rgb(30,30,30) 20px
   );
   border-radius:10px;
}