.choice {
   /* background-color: lightgreen; */
   background: repeating-linear-gradient(
       80deg,
       #606dbc,
       #606dbc 20px,
       #FFF 100%,
       rgb(187, 77, 77) 10px
   );
   border-radius:10px
}

.disabled {
    background: repeating-linear-gradient(
       45deg,
       rgb(20,0,0),
       rgb(20,0,0) 10px,
       rgb(30,30,30) 10px,
       rgb(30,30,30) 20px
   );
   border-radius:10px;
}