.dungeonMonster{
   background-color: rgb(190, 100, 135);
   border-radius: 5px;
   grid-column:1;
   margin:5px;
   text-align:center;
}

.dungeonButtons{
   grid-column: 2;
   display:grid;
   grid-template-rows: 3;
   grid-gap:5px;
   margin-left:10px;
   margin-right:10px;
}

.disabled {
    background: repeating-linear-gradient(
       45deg,
       rgb(20,0,0),
       rgb(20,0,0) 10px,
       rgb(30,30,30) 10px,
       rgb(30,30,30) 20px
   );
   border-radius:10px;
}