.logger{
    position: relative;
    border-radius:5px;
    border: 2px solid white;
    border-radius:5px;
    font-size: calc(3vw);
}

.all-log{
    /* overflow-y:auto; */
}

.reset-btn{
    width:100%;
}

.logMessage{
    box-shadow:white 0px 0px 15px;
    padding:10px;
}