.logger{
    border-radius:5px;
    border: 3px solid white;
    border-radius:10px;
    min-height:100%;
    max-height:100%;
}

.all-log{
    /* overflow-y:auto; */
}

.logMessage{
    box-shadow:white 0px 0px 15px;
    padding:10px;
}